name: Ship route optimization

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Poetry
      run: pip install poetry

    - name: Install Dependencies
      run: poetry install

    - name: Run Unit Tests
      run: poetry run pytest tests/